<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2>{{title}}</h2>
      <div class="gameZone">
        <div class="box" *ngFor="let square of squares; let i = index" [ngClass]="{'croix': square.value === 'X', 
        'rond': square.value === 'O'}" (click)="chooseSquare(i)">
        </div>
      </div>
    </div>

    <div *ngIf="isEnd" class="col-md-12 resultModal">
      <div class="result">
        <h3>Terminé</h3>
        <hr>
        <p>{{resultats}}</p>
        <button class="btn btn-info" (click)=restartGame()>Nouvelle partie</button>
      </div>
    </div>
  </div>
</div>